<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--<setting name="defaultExecutorType" value="BATCH"/>-->
    </settings>
    <typeAliases>
        <typeAlias type="java.lang.String" alias="String"/>
        <typeAlias type="java.lang.Character" alias="Character"/>
        <typeAlias type="java.lang.Long" alias="Long"/>
        <typeAlias type="java.lang.Boolean" alias="Boolean"/>
        <typeAlias type="java.lang.Byte" alias="Byte"/>
        <typeAlias type="java.lang.Double" alias="Double" />
        <typeAlias type="java.util.Map" alias="Map"/>
        <package name="com.msm.pojo"/>
    </typeAliases>
</configuration>


        <!--
        jdbcType:
        BIT FLOAT CHAR TIMESTAMP OTHER UNDEFINED
        TINYINT REAL VARCHAR BINARY BLOG NVARCHAR
        SMALLINT DOUBLE LONGVARCHAR VARBINARY CLOB NCHAR
        INTEGER NUMERIC DATE LONGVARBINARYBOOLEAN NCLOB
        BIGINT DECIMAL TIME NULL CURSOR ARRAY

        -->